Source: salt-formula-redis
Maintainer: Ales Komarek <ales.komarek@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-redis
Vcs-Git: https://github.com/tcpcloud/salt-formula-redis.git

Package: salt-formula-redis
Architecture: all
Depends: ${misc:Depends}
Description: Redis salt formula
 Install and configure Redis service.
